.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 70%;
  border: 1px solid grey;
  border-radius: 1rem;
}
.link {
  color: blue;
  text-decoration: underline;
}
input {
  background-color: rgb(247, 245, 245);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: 80%;
}
.terms {
  display: flex;
  width: 100%;
}
.terms input {
  width: 20%;
}

input[type="submit"] {
  background-color: blue;
  color: white;
}
input[disabled] {
  background-color: rgb(253, 96, 88);
  color: white;
}
